<html>
    <head>
        <title>Check Your Website</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="predict-page">
            <h1>Check Your Website</h1>
            <form action="#" method="post">
                <p>Enter URL</p>
                <input type="text" name="URL" placeholder="URL">
                <button style="right: -20%; top: 10px;" type="submit"><span></span>Predict</button>
            </form>
        </div>
    </body>
</html>