<html>
    <head>
        <title>Web Phishing</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <script>
            function myFunction()
            {
                window.location.href="final";   
            }
        </script>
        
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <h3 class="logo">Web Phishing</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="content">
                <h1 style="font-size:50px;">WEB PHISHING PREDICTION</h1>
                <p>Welcome! Our Website uses ML model to mimic how a person would 
                    look at, understand, and draw a verdict on a suspicious website. 
                    <br>Our engine learns from high quality, proprietary datasets containing
                     millions of  samples for high accuracy detection.
                     <br>We detect whether the website is legit or not in seconds, not days 
                     or weeks like other blocklist-based phishing protection softwares</p>
                <h1 style="font-size:50px;">ABOUT</h1>
                <P>Web service is one of the key communications software services for the internet.
                Web phishing is one of many security threats to we services on the internet.<br>
                Web phishing aims to steal private information such os usernames, passwords, and credit card details,
                by way of impersonating a legutumate entity.<br> The recipient is then tricked information clicking
                malicious link, which can lead to the installation of malware,<br> the freezing of the system as part of
                a ransonware attack or the revealing of the sensitive information. It will lead to information disclosure and property damage.
                </P><br>
                <h3> CHECK YOUR WEBSITE</h3>
                <P>Understanding if the website is a valid one or not is important and plays a vital role in securing the data.<br>
                    To know if the URL is a valid one or your information is at risk check your website.
                </P>
                <div>
                    <button type="button" onclick="myFunction()"><span></span>Predict Your Website</button>
                </div>
            </div>
        </div> 
    </body>
</html>